/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126 | modified
   License: none (public domain)
*/
html, body, span,
h1, h2, h3, p, a,
img, ul, li,
figure, footer, header, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
figure, footer, header, main, picture {
  display: block;
}
body {
  line-height: 1;
}
ul {
  list-style: none;
}

/* main styles */

html { font-size: 100%; } /* Browserdefault, 16px  */

main, header, footer {
  min-width: 100px;
}

body {
  color: #333;
  font-family:'Fanwood Text', 'Spinnaker', 'Helvetica', sans-serif;
  text-align: center;
}

a {
  color: #555;
  font-size: 0.95rem;
  line-height: 1.5rem;
  text-align: center;
  text-decoration: none;
}

a:hover {
  color: #f181ad;
  text-decoration: underline;
}

source, img {
  background-size: 200px;
  border-radius: 70px;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  height: 140px;
  margin: 0 auto;
  position: relative;
  text-indent: -99999px;
  width: 140px;
}

footer {
  margin-bottom: 100px;
}

h1 {
  font-size: 8.5rem; /* 28/16 = 1.75 */
  margin-bottom: 40px;
}

h2 {
  font-size: 1.15rem;
  letter-spacing: 1.5px;
  margin: 80px 0;
}

h2 span {
  border-bottom: 1px solid #aaa;
  border-top: 1px solid #aaa;
  padding: 20px 30px;
}

h3 {
  font-size: 2.3rem;
}

header {
  margin-top: 100px;
}

hr {
  border-top: 1px solid #999;
  width: 200px;
}

li {
  font-size: 1rem;
  margin: 2px 0;
}

main {
  margin-bottom: 70px;
}

p {
  font-size: 0.875rem; /* 14/16 = 0.875 */
  margin-top: 20px;
}

ul {
  margin: 10px 0 50px;
}

.talks li {
  margin-bottom: 1rem;
}
